{% extends 'base.html.twig' %}

{% block title %}Enseignants index{% endblock %}

{% block body %}
    <h1>Enseignants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Specialite</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.specialite }}</td>
                <td>{{ enseignant.telephone }}</td>
                <td>
                    <a href="{{ path('app_teachers_show', {'id': enseignant.id}) }}">show</a>
                    <a href="{{ path('app_teachers_edit', {'id': enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teachers_new') }}">Create new</a>
{% endblock %}
