{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <h1>Etudiants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ etudiant.matricule }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ etudiant.dateNaissance ? etudiant.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ etudiant.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etudiant.telephone }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ etudiant.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_students_index') }}">back to list</a>

    <a href="{{ path('app_students_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('students/_delete_form.html.twig') }}
{% endblock %}
