{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <h1>Notes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ note.note }}</td>
            </tr>
            <tr>
                <th>Date_eval</th>
                <td>{{ note.dateEval ? note.dateEval|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_marks_index') }}">back to list</a>

    <a href="{{ path('app_marks_edit', {'id': note.id}) }}">edit</a>

    {{ include('marks/_delete_form.html.twig') }}
{% endblock %}
