{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cour.nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ cour.code }}</td>
            </tr>
            <tr>
                <th>Volume_horaire</th>
                <td>{{ cour.volumeHoraire }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_courses_index') }}">back to list</a>

    <a href="{{ path('app_courses_edit', {'id': cour.id}) }}">edit</a>

    {{ include('courses/_delete_form.html.twig') }}
{% endblock %}
